
body{
    background-color: beige;
}
.hero{
    margin-top: 25%;
    margin-left: 40%;
}
.hero h1{
    font-size: 60px;
    text-shadow: 10px 10px blue;
}

h1{
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
    font-size: 100px;
}
.hero{
    min-height: 20px;
    display: flex;
    justify-content: center;
}

